# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc
CMakeCache.txt
CMakeFiles/
Makefile
callgrind.out.*
cmake_install.cmake

examples_openmp
examples_openmp_debug
examples_openmp_prof

